@font-face {
  font-family: "Overpass-Regular";
  src: url(/public/fonts/Overpass-Bold.ttf);
}

@font-face {
  font-family: "Overpass-Bold";
  src: url(/public/fonts/Overpass-Regular.ttf);
}

body {
  font-family: "Overpass-Regular" "OverPass-Bold";
}
